.carousel {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  height: 20em;
  padding: 0;
  scroll-behavior: smooth;
  padding: 30px;
}

.carousel__container {

  display: flex;
  /* flex-wrap: nowrap; */
  overflow:hidden;
  width: 100%;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  margin-top: 20px;
  scroll-behavior: smooth;
  
} 

.carousel__container > .arrow_right, .arrow_left {
  position: absolute;
  border: none;
  background-color: white;
  font-size: 40px;
  height: 50%;
  top: calc(50% - 22%);
  line-height: 40px;
  width: 30px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
  /* background-color: rgb(0,0,0,0.3); */
}

.carousel__container > .arrow_right {
   left: 0;
}
.arrow_left {
  right: 0;
}
   
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.0);
          transform: scale(1.0);
  opacity: 1;
}
   
   /* prueba
   ::-webkit-scrollbar {
     display: none
   } */