.categories {
    height: 100%;
  }

  .categories__indicators {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 5em;
    margin-left: 40px;
    margin-right: 80px;
    padding: 4px;
    border: none;
  }
  .categories__indicators > button:hover{
    background-color: red;
  }
  
  .categories__title {
    display: flex;
    color: white;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 0px;
    position: relative;
    padding-left: 30px;
    /* padding-top: 10px; */
    width: 100%;
    margin-top: 155px;
  }

  .red {
    background-color: red;
  }
  