.container_media_player {
    min-height: 622px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.container_media_player > img {
    position: absolute;
    width: 50px;
    filter:invert(100%) sepia(100%) 
           saturate(0%) hue-rotate(75deg) 
           brightness(105%) contrast(101%);
    opacity: 0.5;   
}
.container_media_player > img:hover {
    cursor: pointer;
    opacity: 1;

}
.container_media_player > video {
    min-height: 30em
    
}